/*
-	website-3 "Kaarya_website"
-	Developed by Mayank
-	CopyRight by https://github.com/MayankDevil/
-	CSS : ./css/responsive.css
*/

/*
    1200PX SCREEN ---------------------
*/
@media screen and (max-width: 1200px)
{

}
/*
    992PX SCREEN ----------------------
*/
@media screen and (max-width: 992px)
{
    /* about */
    #about .center
    {
        max-width: 70vw;
    }
    /* service */
    #work
    {
        grid-template-columns: repeat(2,1fr);
    }
}
/*
    768PX SCREEN ----------------------
*/
@media screen and (max-width: 768px)
{
    /* comman */
    h1
    {
        font-size: 3rem;
    }
    /* about */
    #about .center
    {
        max-width: 80vw;
    }
    /* serive */
    #service
    {
        grid-template-columns: 100%;
    }
    #article
    {
        grid-row: 1/2;
    }
    /* work */
    #mywork
    {
        grid-template-columns: repeat(2,1fr);
    }
}
/*
    576PX SCREEN ----------------------
*/
@media screen and (max-width: 576px)
{
    /* header */
    #header
    {
        display: grid !important;
        place-content: center;
        padding: 0 1rem;
    }
    #brandname
    {
        padding: 1rem;
        text-align: center;
    }
    #nav
    {
        grid-row: 3/4;
        /* background: green; */
    }
    #nav .nav-link
    {
        margin: auto 0.5rem;
    }
    #social
    {
        margin:1rem auto;
        justify-content: center;
    }
    /* service */
    #work
    {
        grid-gap: 1rem;
        grid-template-columns: repeat(1,1fr);
    }
    /* why */
    #why .display-4
    {
        text-align: center;
        padding: 2rem 0.5rem;
        font-weight:lighter;
        line-height: 2rem;
        font-size: 1.5rem;
    }
    /* about */
    #about .center
    {
        max-width: 90vw;
    }
    .lead
    {
        font-size: 2rem;
    }
    #about h5
    {
        font-size: 1rem;
    }
    .about_link
    {
        font-size: 1rem;
    }
    /* work */
    #mywork
    {
        padding: 0.5;
        grid-template-columns: repeat(1,1fr);
    }
    /* footer */
    #footer
    {
        display: grid;
        padding: 1rem;
    }
    #footer .copy
    {
        /* padding: 1rem; */
        line-height: 2rem;
    }
}
/*
    375PX SCREEN ----------------------
*/
@media screen and (max-width: 375px)
{
    /* comman */
    h1
    {
        font-size: 2rem;
    }
    /* about */
    #user .picture
    {
        width: 100%;
    }
    /* footer */
    #footer
    {
        padding: 1rem 0.5rem;
    }
}
/*
    the end ===========================
*/
/*
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
*/