/*
-	website-3 "Kaarya_website"
-	Developed by Mayank
-	CopyRight by https://github.com/MayankDevil/
-	CSS : ./css/style.css
*/

@import "./service.css";
@import "./about.css";
@import "./kaarya.css";

*
{
	user-select: text;
	text-decoration:none;
	margin:0;
	padding:0;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color:var(--black);
	border: none;
	outline:none;
	box-sizing: border-box;
}
:root
{	
	--secondary:#6b8e23;
	--primary:#556b2f;
	--shade:#8080001a;
	--yellow:rgba(255, 215, 0, 0.6);
	--white: #fff;
	--black:#000;
	--gray: #6c757d;
	--light: #f8f9fa;
	--dark: #343a40;
}
::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-thumb
{
	border-radius: 1rem;
	background: var(--theme2);
}
::selection
{
	background: var(--tertiary);
}
/*
	comman css -----------------------
*/
body
{
	overflow: hidden;
	overflow-Y:auto ;
	/* background: var(--fourth); */
}
main
{
	background: var(--white);
	min-height: auto;
	max-width: 1000px;
	margin: auto;
}
h1
{
	font-weight:100;
	font-size:5rem;
	color: var(--gray);
}
h2
{
	font-size: 1.5rem;
	font-weight: 200;
}
h3
{
	font-size: 1.5rem;
	font-weight: normal;
	color: var(--dark);
}
h4
{
	font-weight: bold;
	color:var(--primary);
}
h5
{
	line-height: 2rem;
	font-weight: 100;
	font-size: 1.3rem;
	color: var(--dark);
}
p
{
	opacity: 0.8;
	line-height: 1.5rem;
	color: var(--dark);
}
.btn
{
	display: inline-block;
	margin: 1rem auto;
	padding: 1rem;
	font-size: 1rem;
	color: var(--primary);
	border: 1px solid var(--primary);
}
.btn:hover
{
	font-weight: bold;
	color: var(--light);
	background: var(--primary);
	box-shadow: 2px 2px 5px var(--gray);
}
/*
	header css -----------------------
*/
#header
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.5rem 1rem;
	background: var(--primary);
}
#header #brandname
{
	font-weight: bold;
	font-size: 1.5rem;
	color: var(--white);
}
#nav
{
	width: 100%;
}
#nav .nav-link
{
	display: inline-block;
	padding: 10px;
	font-size: 1rem;
	color:var(--white);
}
#nav .nav-link:hover
{
	font-weight: bold;
	background: var(--secondary);
	box-shadow: 1px 1px 5px var(--gray);
}
#social
{
	display: flex;
	align-items: center;
}
#social .media
{
	display: inline-block;
	margin:auto 0.5rem;
}
#social .media img
{
	width: 30px;
	object-fit: contain;
}
#social .media img:hover
{
	background: var(--secondary);
	border-radius: 5px;
	box-shadow: 1px 1px 2px var(--gray);
}

/*
	footer css ------------------------
*/
#footer
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	background: var(--primary);
}
#footer .copy
{
	font-size: 1rem;
	color:var(--white);
}
#footer .developer
{
	font-size: 1rem;
	color: var(--white);
}
#footer a
{
	line-height: 2rem;
	font-weight: bold;
	color: var(--whie);
}
/*
	the end ==========================
*/